__pycache__/
raw_pdf_single/
raw_pdf/
output_evaluate_component/
output_rule_based_pipeline/
workdir/
raw_pdf - Kopie/
corrupted_pdf/
checkPDFCorrupted/result.csv
*.log
input/
input2/
output/
20240114_Expected_Values/
evaluation_results/
